# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Homelab India
site_description: Official Homelab India Wiki
site_url: https://wiki.homelabindia.org
repo_url: https://github.com/homelabindia/wiki
repo_name: homelabindia/wiki
markdown_extensions:
  - attr_list
  - md_in_html
  - markdown_captions
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
plugins:
  - glightbox
  - search
  - social
  - blog
  - git-revision-date-localized:
      enable_creation_date: true
theme:
  name: material
  features:
    - navigation.indexes
    - content.code.copy
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode

  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default 


    toggle:
      icon: material/brightness-7
      name: Switch to dark mode

  # Palette toggle for dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference
